In [1]:
!pip install Sastrawi

Collecting Sastrawi
  Downloading Sastrawi-1.0.1-py2.py3-none-any.whl (209 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 209.7/209.7 kB 2.5 MB/s eta 0:00:00
Installing collected packages: Sastrawi
Successfully installed Sastrawi-1.0.1

In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px

from sklearn.feature_extraction.text import TfidfVectorizer
from Sastrawi.Stemmer.StemmerFactory import StemmerFactory
from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
from sklearn.metrics.pairwise import cosine_similarity

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [3]:
tv = TfidfVectorizer(max_features=5000)
stem = StemmerFactory().create_stemmer()
stopword = StopWordRemoverFactory().create_stop_word_remover()

In [4]:
tourism_rating = pd.read_csv("/content/sample_data/tourism_rating.csv")
tourism_with_id = pd.read_csv("/content/sample_data/tourism_with_id.csv")
users = pd.read_csv("/content/sample_data/user.csv")

In [5]:
tourism_rating.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

In [6]:
tourism_with_id.head()

,Place_Id,Place_Name,Description,Category,City,Price,Rating,Time_Minutes,Coordinate,Lat,Long,Unnamed: 11,Unnamed: 12
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000,4.6,15.0,"{'lat': -6.1753924, 'lng': 106.8271528}",-6.175392,106.827153,NaN,1
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0,4.6,90.0,"{'lat': -6.137644799999999, 'lng': 106.8171245}",-6.137645,106.817125,NaN,2
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000,4.6,360.0,"{'lat': -6.125312399999999, 'lng': 106.8335377}",-6.125312,106.833538,NaN,3
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000,4.5,NaN,"{'lat': -6.302445899999999, 'lng': 106.8951559}",-6.302446,106.895156,NaN,4
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000,4.5,60.0,"{'lat': -6.12419, 'lng': 106.839134}",-6.124190,106.839134,NaN,5

In [7]:
users.head()

   User_Id                   Location  Age
0        1      Semarang, Jawa Tengah   20
1        2         Bekasi, Jawa Barat   21
2        3        Cirebon, Jawa Barat   23
3        4         Bekasi, Jawa Barat   21
4        5  Lampung, Sumatera Selatan   20

In [8]:
tourism_rating.isna().sum()

User_Id          0
Place_Id         0
Place_Ratings    0
dtype: int64

In [9]:
tourism_with_id.isna().sum()

Place_Id          0
Place_Name        0
Description       0
Category          0
City              0
Price             0
Rating            0
Time_Minutes    232
Coordinate        0
Lat               0
Long              0
Unnamed: 11     437
Unnamed: 12       0
dtype: int64

In [10]:
users.isna().sum()

User_Id     0
Location    0
Age         0
dtype: int64

In [11]:
tourism_with_id.drop(['Time_Minutes','Unnamed: 11','Unnamed: 12','Coordinate','Lat','Long','Rating'], axis=1 , inplace=True)
tourism_with_id

,Place_Id,Place_Name,Description,Category,City,Price
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000
...,...,...,...,...,...,...
432,433,Museum Mpu Tantular,Museum Negeri Mpu Tantular adalah sebuah museu...,Budaya,Surabaya,2000
433,434,Taman Bungkul,Taman Bungkul adalah taman wisata kota yang te...,Taman Hiburan,Surabaya,0
434,435,Taman Air Mancur Menari Kenjeran,Air mancur menari atau dancing fountain juga a...,Taman Hiburan,Surabaya,0
435,436,Taman Flora Bratang Surabaya,Taman Flora adalah salah satu taman kota di Su...,Taman Hiburan,Surabaya,0
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Gereja Katolik Kelahiran Santa Perawan Maria m...,Tempat Ibadah,Surabaya,10000

In [12]:
data_df= pd.merge(tourism_rating.groupby('Place_Id')['Place_Ratings'].mean() , tourism_with_id ,on='Place_Id')
data_df

,Place_Id,Place_Ratings,Place_Name,Description,Category,City,Price
0,1,3.722222,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...,Budaya,Jakarta,20000
1,2,2.840000,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu...",Budaya,Jakarta,0
2,3,2.526316,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...,Taman Hiburan,Jakarta,270000
3,4,2.857143,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...,Taman Hiburan,Jakarta,10000
4,5,3.520000,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...,Taman Hiburan,Jakarta,94000
...,...,...,...,...,...,...,...
432,433,3.304348,Museum Mpu Tantular,Museum Negeri Mpu Tantular adalah sebuah museu...,Budaya,Surabaya,2000
433,434,2.400000,Taman Bungkul,Taman Bungkul adalah taman wisata kota yang te...,Taman Hiburan,Surabaya,0
434,435,3.000000,Taman Air Mancur Menari Kenjeran,Air mancur menari atau dancing fountain juga a...,Taman Hiburan,Surabaya,0
435,436,3.090909,Taman Flora Bratang Surabaya,Taman Flora adalah salah satu taman kota di Su...,Taman Hiburan,Surabaya,0
436,437,3.289474,Gereja Perawan Maria Tak Berdosa Surabaya,Gereja Katolik Kelahiran Santa Perawan Maria m...,Tempat Ibadah,Surabaya,10000

In [13]:
def preprocessing(data):
  data = data.lower()
  data = stem.stem(data)
  data=stopword.remove(data)
  return data

In [14]:
data_content_filtering = data_df.copy()
data_content_filtering['Tag'] = data_content_filtering['Description']+' '+data_content_filtering['Category']
data_content_filtering.drop(['Place_Ratings' ,'Description','Category' ,'City','Price'] , axis=1, inplace=True)
data_content_filtering

,Place_Id,Place_Name,Tag
0,1,Monumen Nasional,Monumen Nasional atau yang populer disingkat d...
1,2,Kota Tua,"Kota tua di Jakarta, yang juga bernama Kota Tu..."
2,3,Dunia Fantasi,Dunia Fantasi atau disebut juga Dufan adalah t...
3,4,Taman Mini Indonesia Indah (TMII),Taman Mini Indonesia Indah merupakan suatu kaw...
4,5,Atlantis Water Adventure,Atlantis Water Adventure atau dikenal dengan A...
...,...,...,...
432,433,Museum Mpu Tantular,Museum Negeri Mpu Tantular adalah sebuah museu...
433,434,Taman Bungkul,Taman Bungkul adalah taman wisata kota yang te...
434,435,Taman Air Mancur Menari Kenjeran,Air mancur menari atau dancing fountain juga a...
435,436,Taman Flora Bratang Surabaya,Taman Flora adalah salah satu taman kota di Su...
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,Gereja Katolik Kelahiran Santa Perawan Maria m...

In [15]:
data_content_filtering.Tag = data_content_filtering.Tag.apply(preprocessing)
data_content_filtering

,Place_Id,Place_Name,Tag
0,1,Monumen Nasional,monumen nasional populer singkat monas tugu mo...
1,2,Kota Tua,kota tua jakarta juga nama kota tua pusat alun...
2,3,Dunia Fantasi,dunia fantasi sebut dufan tempat hibur letak k...
3,4,Taman Mini Indonesia Indah (TMII),taman mini indonesia indah rupa suatu kawasan ...
4,5,Atlantis Water Adventure,atlantis water adventure kenal atlantis ancol ...
...,...,...,...
432,433,Museum Mpu Tantular,museum negeri mpu tantular buah museum negeri ...
433,434,Taman Bungkul,taman bungkul taman wisata kota letak pusat ko...
434,435,Taman Air Mancur Menari Kenjeran,air mancur tari dancing fountain ada kawasan j...
435,436,Taman Flora Bratang Surabaya,taman flora salah satu taman kota surabaya rup...
436,437,Gereja Perawan Maria Tak Berdosa Surabaya,gereja katolik lahir santa perawan maria rupa ...

In [16]:
vectors =  tv.fit_transform(data_content_filtering.Tag).toarray()
vectors

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [17]:
similarity = cosine_similarity(vectors)
similarity[0][1:10]

array([0.04510993, 0.07188361, 0.02807929, 0.00479488, 0.01497397,
       0.02458836, 0.00394491, 0.01975822, 0.01633207])

In [18]:
def recommend_by_content_based_filtering(nama_tempat):
    nama_tempat_index = data_content_filtering[data_content_filtering['Place_Name']==nama_tempat].index[0]
    distancess = similarity[nama_tempat_index]
    nama_tempat_list = sorted(list(enumerate(distancess)),key=lambda x: x[1],reverse=True)[1:10]

    recommended_nama_tempats = []
    for i in nama_tempat_list:
        recommended_nama_tempats.append([data_content_filtering.iloc[i[0]].Place_Name]+[i[1]])


    return recommended_nama_tempats

In [19]:
recommend_by_content_based_filtering('Monumen Nasional')

[['Monumen Bandung Lautan Api', 0.28683907306335177],
 ['Monumen Selamat Datang', 0.2661577967639709],
 ['Monumen Perjuangan Rakyat Jawa Barat', 0.25729692362006246],
 ['Tugu Muda Semarang', 0.22491138935052768],
 ['Monumen Bambu Runcing Surabaya', 0.20482652874129093],
 ['Monumen Tugu Pahlawan', 0.18791275217429565],
 ['Monumen Sanapati', 0.1795335499410377],
 ['Monumen Yogya Kembali', 0.17871073001225599],
 ['Monumen Palagan Ambarawa', 0.16871094841229334]]

In [20]:
data_collaborative = tourism_rating.copy()
data_collaborative.head()

   User_Id  Place_Id  Place_Ratings
0        1       179              3
1        1       344              2
2        1         5              5
3        1       373              3
4        1       101              4

In [21]:

user_ids = data_collaborative['User_Id'].unique().tolist()
print('list userID: ', user_ids)

#  encoding userID
user_to_user_encoded = {x: i for i, x in enumerate(user_ids)}
print('encoded userID : ', user_to_user_encoded)


user_encoded_to_user = {i: x for i, x in enumerate(user_ids)}
print('encoded angka ke userID: ', user_encoded_to_user)

list userID:  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300]
encoded userID :  {1: 0, 2: 1, 3: 2, 4: 3, 5: 4, 6: 5, 7: 6, 8: 7, 9: 8, 10: 9, 11: 10, 12: 11, 13: 12, 14: 13, 15: 14, 16: 15, 17: 16, 18: 17, 19: 18, 20: 19, 21: 20, 22: 21, 23: 22, 24: 23, 25: 24, 26: 25, 27: 26, 28: 27, 29: 28, 30: 29, 31: 30, 32: 31, 33: 32, 34: 33, 35: 34, 36: 35, 37: 36, 38: 37, 39: 38, 40: 39, 41: 40, 42: 41, 43: 42, 44: 43, 45: 44, 46: 45, 47: 46, 48: 47, 49: 48, 50: 49, 51: 50, 52: 51, 53: 52, 54: 53, 55: 54, 56: 55, 57: 56, 58: 57, 59: 58, 60: 59, 61: 60, 62: 61, 63: 62, 64: 63, 65: 64, 66: 65, 67: 66, 68: 67, 69: 68, 70: 69, 71: 70, 72: 71, 73: 72, 74: 73, 75: 74, 76: 75, 77: 76, 78: 77, 79: 78, 80: 79, 81: 80, 82: 81, 83: 82, 84: 83, 85: 84, 86: 85, 87: 86, 88: 87, 89: 88, 90: 89, 91: 90, 92: 91, 93: 92, 94: 93, 95: 94, 96: 95, 97: 96, 98: 97, 99: 98, 100: 99, 101: 100, 102: 101, 103: 102, 104: 103, 105: 104, 106: 105, 107: 106, 108: 107, 109: 108, 110: 109, 111: 110, 112: 111, 113: 112, 114: 113, 115: 114, 116: 115, 117: 116, 118: 117, 119: 118, 120: 119, 121: 120, 122: 121, 123: 122, 124: 123, 125: 124, 126: 125, 127: 126, 128: 127, 129: 128, 130: 129, 131: 130, 132: 131, 133: 132, 134: 133, 135: 134, 136: 135, 137: 136, 138: 137, 139: 138, 140: 139, 141: 140, 142: 141, 143: 142, 144: 143, 145: 144, 146: 145, 147: 146, 148: 147, 149: 148, 150: 149, 151: 150, 152: 151, 153: 152, 154: 153, 155: 154, 156: 155, 157: 156, 158: 157, 159: 158, 160: 159, 161: 160, 162: 161, 163: 162, 164: 163, 165: 164, 166: 165, 167: 166, 168: 167, 169: 168, 170: 169, 171: 170, 172: 171, 173: 172, 174: 173, 175: 174, 176: 175, 177: 176, 178: 177, 179: 178, 180: 179, 181: 180, 182: 181, 183: 182, 184: 183, 185: 184, 186: 185, 187: 186, 188: 187, 189: 188, 190: 189, 191: 190, 192: 191, 193: 192, 194: 193, 195: 194, 196: 195, 197: 196, 198: 197, 199: 198, 200: 199, 201: 200, 202: 201, 203: 202, 204: 203, 205: 204, 206: 205, 207: 206, 208: 207, 209: 208, 210: 209, 211: 210, 212: 211, 213: 212, 214: 213, 215: 214, 216: 215, 217: 216, 218: 217, 219: 218, 220: 219, 221: 220, 222: 221, 223: 222, 224: 223, 225: 224, 226: 225, 227: 226, 228: 227, 229: 228, 230: 229, 231: 230, 232: 231, 233: 232, 234: 233, 235: 234, 236: 235, 237: 236, 238: 237, 239: 238, 240: 239, 241: 240, 242: 241, 243: 242, 244: 243, 245: 244, 246: 245, 247: 246, 248: 247, 249: 248, 250: 249, 251: 250, 252: 251, 253: 252, 254: 253, 255: 254, 256: 255, 257: 256, 258: 257, 259: 258, 260: 259, 261: 260, 262: 261, 263: 262, 264: 263, 265: 264, 266: 265, 267: 266, 268: 267, 269: 268, 270: 269, 271: 270, 272: 271, 273: 272, 274: 273, 275: 274, 276: 275, 277: 276, 278: 277, 279: 278, 280: 279, 281: 280, 282: 281, 283: 282, 284: 283, 285: 284, 286: 285, 287: 286, 288: 287, 289: 288, 290: 289, 291: 290, 292: 291, 293: 292, 294: 293, 295: 294, 296: 295, 297: 296, 298: 297, 299: 298, 300: 299}
encoded angka ke userID:  {0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6, 6: 7, 7: 8, 8: 9, 9: 10, 10: 11, 11: 12, 12: 13, 13: 14, 14: 15, 15: 16, 16: 17, 17: 18, 18: 19, 19: 20, 20: 21, 21: 22, 22: 23, 23: 24, 24: 25, 25: 26, 26: 27, 27: 28, 28: 29, 29: 30, 30: 31, 31: 32, 32: 33, 33: 34, 34: 35, 35: 36, 36: 37, 37: 38, 38: 39, 39: 40, 40: 41, 41: 42, 42: 43, 43: 44, 44: 45, 45: 46, 46: 47, 47: 48, 48: 49, 49: 50, 50: 51, 51: 52, 52: 53, 53: 54, 54: 55, 55: 56, 56: 57, 57: 58, 58: 59, 59: 60, 60: 61, 61: 62, 62: 63, 63: 64, 64: 65, 65: 66, 66: 67, 67: 68, 68: 69, 69: 70, 70: 71, 71: 72, 72: 73, 73: 74, 74: 75, 75: 76, 76: 77, 77: 78, 78: 79, 79: 80, 80: 81, 81: 82, 82: 83, 83: 84, 84: 85, 85: 86, 86: 87, 87: 88, 88: 89, 89: 90, 90: 91, 91: 92, 92: 93, 93: 94, 94: 95, 95: 96, 96: 97, 97: 98, 98: 99, 99: 100, 100: 101, 101: 102, 102: 103, 103: 104, 104: 105, 105: 106, 106: 107, 107: 108, 108: 109, 109: 110, 110: 111, 111: 112, 112: 113, 113: 114, 114: 115, 115: 116, 116: 117, 117: 118, 118: 119, 119: 120, 120: 121, 121: 122, 122: 123, 123: 124, 124: 125, 125: 126, 126: 127, 127: 128, 128: 129, 129: 130, 130: 131, 131: 132, 132: 133, 133: 134, 134: 135, 135: 136, 136: 137, 137: 138, 138: 139, 139: 140, 140: 141, 141: 142, 142: 143, 143: 144, 144: 145, 145: 146, 146: 147, 147: 148, 148: 149, 149: 150, 150: 151, 151: 152, 152: 153, 153: 154, 154: 155, 155: 156, 156: 157, 157: 158, 158: 159, 159: 160, 160: 161, 161: 162, 162: 163, 163: 164, 164: 165, 165: 166, 166: 167, 167: 168, 168: 169, 169: 170, 170: 171, 171: 172, 172: 173, 173: 174, 174: 175, 175: 176, 176: 177, 177: 178, 178: 179, 179: 180, 180: 181, 181: 182, 182: 183, 183: 184, 184: 185, 185: 186, 186: 187, 187: 188, 188: 189, 189: 190, 190: 191, 191: 192, 192: 193, 193: 194, 194: 195, 195: 196, 196: 197, 197: 198, 198: 199, 199: 200, 200: 201, 201: 202, 202: 203, 203: 204, 204: 205, 205: 206, 206: 207, 207: 208, 208: 209, 209: 210, 210: 211, 211: 212, 212: 213, 213: 214, 214: 215, 215: 216, 216: 217, 217: 218, 218: 219, 219: 220, 220: 221, 221: 222, 222: 223, 223: 224, 224: 225, 225: 226, 226: 227, 227: 228, 228: 229, 229: 230, 230: 231, 231: 232, 232: 233, 233: 234, 234: 235, 235: 236, 236: 237, 237: 238, 238: 239, 239: 240, 240: 241, 241: 242, 242: 243, 243: 244, 244: 245, 245: 246, 246: 247, 247: 248, 248: 249, 249: 250, 250: 251, 251: 252, 252: 253, 253: 254, 254: 255, 255: 256, 256: 257, 257: 258, 258: 259, 259: 260, 260: 261, 261: 262, 262: 263, 263: 264, 264: 265, 265: 266, 266: 267, 267: 268, 268: 269, 269: 270, 270: 271, 271: 272, 272: 273, 273: 274, 274: 275, 275: 276, 276: 277, 277: 278, 278: 279, 279: 280, 280: 281, 281: 282, 282: 283, 283: 284, 284: 285, 285: 286, 286: 287, 287: 288, 288: 289, 289: 290, 290: 291, 291: 292, 292: 293, 293: 294, 294: 295, 295: 296, 296: 297, 297: 298, 298: 299, 299: 300}

In [22]:

resto_ids = data_collaborative['Place_Id'].unique().tolist()


resto_to_resto_encoded = {x: i for i, x in enumerate(resto_ids)}


resto_encoded_to_resto = {i: x for i, x in enumerate(resto_ids)}

In [23]:
data_collaborative['user'] = data_collaborative['User_Id'].map(user_to_user_encoded)


data_collaborative['resto'] = data_collaborative['Place_Id'].map(resto_to_resto_encoded)

In [24]:
num_users = len(user_to_user_encoded)
print(num_users)


num_resto = len(resto_encoded_to_resto)
print(num_resto)


data_collaborative['Place_Ratings'] = data_collaborative['Place_Ratings'].values.astype(np.float32)

#  minimum rating
min_rating = min(data_collaborative['Place_Ratings'])

# Maximum rating
max_rating = max(data_collaborative['Place_Ratings'])

print('Number of User: {}, Number of Resto: {}, Min Rating: {}, Max Rating: {}'.format(
    num_users, num_resto, min_rating, max_rating
))

300
437
Number of User: 300, Number of Resto: 437, Min Rating: 1.0, Max Rating: 5.0

In [25]:
data_collaborative = data_collaborative.sample(frac=1, random_state=42)
data_collaborative

      User_Id  Place_Id  Place_Ratings  user  resto
6252      188       207            3.0   187    262
4684      142       268            2.0   141     83
1731       54       103            3.0    53     10
4742      144       119            3.0   143    141
4521      138       288            5.0   137    283
...       ...       ...            ...   ...    ...
5734      173       402            5.0   172    175
5191      157        85            4.0   156     33
5390      163        18            3.0   162     52
860        28       416            4.0    27    187
7270      219       258            2.0   218      6

[10000 rows x 5 columns]

In [26]:
x = data_collaborative[['user', 'resto']].values


y = data_collaborative['Place_Ratings'].apply(lambda x: (x - min_rating) / (max_rating - min_rating)).values

#  80% data train and 20% data validasion
train_indices = int(0.8 * data_collaborative.shape[0])
x_train, x_val, y_train, y_val = (
    x[:train_indices],
    x[train_indices:],
    y[:train_indices],
    y[train_indices:]
)

print(x, y)

[[187 262]
 [141  83]
 [ 53  10]
 ...
 [162  52]
 [ 27 187]
 [218   6]] [0.5  0.25 0.5  ... 0.5  0.75 0.25]

In [27]:
class RecommenderNet(tf.keras.Model):


  def __init__(self, num_users, num_resto, embedding_size, **kwargs):
    super(RecommenderNet, self).__init__(**kwargs)
    self.num_users = num_users
    self.num_resto = num_resto
    self.embedding_size = embedding_size
    self.user_embedding = layers.Embedding( # layer embedding user
        num_users,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = keras.regularizers.l2(1e-6)
    )
    self.user_bias = layers.Embedding(num_users, 1) # layer embedding user bias
    self.resto_embedding = layers.Embedding( # layer embeddings
        num_resto,
        embedding_size,
        embeddings_initializer = 'he_normal',
        embeddings_regularizer = keras.regularizers.l2(1e-6)
    )
    self.resto_bias = layers.Embedding(num_resto, 1) # layer embedding  bias

  def call(self, inputs):
    user_vector = self.user_embedding(inputs[:,0]) #  layer embedding 1
    user_bias = self.user_bias(inputs[:, 0]) #  layer embedding 2
    resto_vector = self.resto_embedding(inputs[:, 1]) #  layer embedding 3
    resto_bias = self.resto_bias(inputs[:, 1]) #  layer embedding 4

    dot_user_resto = tf.tensordot(user_vector, resto_vector, 2)

    x = dot_user_resto + user_bias + resto_bias

    return tf.nn.sigmoid(x) # activation sigmoid

In [28]:
model = RecommenderNet(num_users, num_resto, 50) # intialisation model

# model compile
model.compile(
    loss = tf.keras.losses.BinaryCrossentropy(),
    optimizer = keras.optimizers.Adam(learning_rate=0.001),
    metrics=[tf.keras.metrics.RootMeanSquaredError()]
)

In [29]:

history = model.fit(
    x = x_train,
    y = y_train,
    batch_size = 8,
    epochs = 100,
    validation_data = (x_val, y_val)
)

Epoch 1/100
1000/1000 [==============================] - 3s 2ms/step - loss: 0.6941 - root_mean_squared_error: 0.3460 - val_loss: 0.6934 - val_root_mean_squared_error: 0.3451
Epoch 2/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6876 - root_mean_squared_error: 0.3413 - val_loss: 0.6938 - val_root_mean_squared_error: 0.3454
Epoch 3/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6810 - root_mean_squared_error: 0.3364 - val_loss: 0.6943 - val_root_mean_squared_error: 0.3457
Epoch 4/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6771 - root_mean_squared_error: 0.3336 - val_loss: 0.6950 - val_root_mean_squared_error: 0.3462
Epoch 5/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6711 - root_mean_squared_error: 0.3292 - val_loss: 0.6959 - val_root_mean_squared_error: 0.3468
Epoch 6/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6682 - root_mean_squared_error: 0.3271 - val_loss: 0.6964 - val_root_mean_squared_error: 0.3472
Epoch 7/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6630 - root_mean_squared_error: 0.3232 - val_loss: 0.6985 - val_root_mean_squared_error: 0.3485
Epoch 8/100
1000/1000 [==============================] - 4s 4ms/step - loss: 0.6633 - root_mean_squared_error: 0.3234 - val_loss: 0.6995 - val_root_mean_squared_error: 0.3492
Epoch 9/100
1000/1000 [==============================] - 8s 8ms/step - loss: 0.6612 - root_mean_squared_error: 0.3220 - val_loss: 0.7004 - val_root_mean_squared_error: 0.3498
Epoch 10/100
1000/1000 [==============================] - 6s 6ms/step - loss: 0.6601 - root_mean_squared_error: 0.3211 - val_loss: 0.7020 - val_root_mean_squared_error: 0.3508
Epoch 11/100
1000/1000 [==============================] - 6s 6ms/step - loss: 0.6568 - root_mean_squared_error: 0.3187 - val_loss: 0.7038 - val_root_mean_squared_error: 0.3520
Epoch 12/100
1000/1000 [==============================] - 5s 5ms/step - loss: 0.6563 - root_mean_squared_error: 0.3184 - val_loss: 0.7051 - val_root_mean_squared_error: 0.3528
Epoch 13/100
1000/1000 [==============================] - 6s 6ms/step - loss: 0.6547 - root_mean_squared_error: 0.3171 - val_loss: 0.7068 - val_root_mean_squared_error: 0.3540
Epoch 14/100
1000/1000 [==============================] - 4s 4ms/step - loss: 0.6532 - root_mean_squared_error: 0.3161 - val_loss: 0.7080 - val_root_mean_squared_error: 0.3548
Epoch 15/100
1000/1000 [==============================] - 5s 5ms/step - loss: 0.6526 - root_mean_squared_error: 0.3156 - val_loss: 0.7095 - val_root_mean_squared_error: 0.3557
Epoch 16/100
1000/1000 [==============================] - 5s 5ms/step - loss: 0.6523 - root_mean_squared_error: 0.3153 - val_loss: 0.7099 - val_root_mean_squared_error: 0.3560
Epoch 17/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6539 - root_mean_squared_error: 0.3164 - val_loss: 0.7113 - val_root_mean_squared_error: 0.3568
Epoch 18/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6515 - root_mean_squared_error: 0.3147 - val_loss: 0.7106 - val_root_mean_squared_error: 0.3562
Epoch 19/100
1000/1000 [==============================] - 4s 4ms/step - loss: 0.6512 - root_mean_squared_error: 0.3146 - val_loss: 0.7127 - val_root_mean_squared_error: 0.3576
Epoch 20/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6516 - root_mean_squared_error: 0.3148 - val_loss: 0.7134 - val_root_mean_squared_error: 0.3581
Epoch 21/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6514 - root_mean_squared_error: 0.3146 - val_loss: 0.7136 - val_root_mean_squared_error: 0.3582
Epoch 22/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6507 - root_mean_squared_error: 0.3143 - val_loss: 0.7154 - val_root_mean_squared_error: 0.3592
Epoch 23/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6489 - root_mean_squared_error: 0.3128 - val_loss: 0.7162 - val_root_mean_squared_error: 0.3596
Epoch 24/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6505 - root_mean_squared_error: 0.3140 - val_loss: 0.7153 - val_root_mean_squared_error: 0.3591
Epoch 25/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6534 - root_mean_squared_error: 0.3161 - val_loss: 0.7137 - val_root_mean_squared_error: 0.3580
Epoch 26/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6515 - root_mean_squared_error: 0.3146 - val_loss: 0.7143 - val_root_mean_squared_error: 0.3583
Epoch 27/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6511 - root_mean_squared_error: 0.3144 - val_loss: 0.7148 - val_root_mean_squared_error: 0.3586
Epoch 28/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6489 - root_mean_squared_error: 0.3129 - val_loss: 0.7154 - val_root_mean_squared_error: 0.3590
Epoch 29/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6520 - root_mean_squared_error: 0.3151 - val_loss: 0.7149 - val_root_mean_squared_error: 0.3587
Epoch 30/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6508 - root_mean_squared_error: 0.3142 - val_loss: 0.7161 - val_root_mean_squared_error: 0.3594
Epoch 31/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6495 - root_mean_squared_error: 0.3133 - val_loss: 0.7155 - val_root_mean_squared_error: 0.3590
Epoch 32/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6489 - root_mean_squared_error: 0.3128 - val_loss: 0.7149 - val_root_mean_squared_error: 0.3586
Epoch 33/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6516 - root_mean_squared_error: 0.3149 - val_loss: 0.7152 - val_root_mean_squared_error: 0.3588
Epoch 34/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6505 - root_mean_squared_error: 0.3139 - val_loss: 0.7160 - val_root_mean_squared_error: 0.3594
Epoch 35/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6502 - root_mean_squared_error: 0.3137 - val_loss: 0.7171 - val_root_mean_squared_error: 0.3602
Epoch 36/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6504 - root_mean_squared_error: 0.3140 - val_loss: 0.7172 - val_root_mean_squared_error: 0.3603
Epoch 37/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6528 - root_mean_squared_error: 0.3155 - val_loss: 0.7183 - val_root_mean_squared_error: 0.3609
Epoch 38/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6482 - root_mean_squared_error: 0.3123 - val_loss: 0.7163 - val_root_mean_squared_error: 0.3596
Epoch 39/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6515 - root_mean_squared_error: 0.3147 - val_loss: 0.7177 - val_root_mean_squared_error: 0.3604
Epoch 40/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6492 - root_mean_squared_error: 0.3130 - val_loss: 0.7170 - val_root_mean_squared_error: 0.3600
Epoch 41/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6517 - root_mean_squared_error: 0.3149 - val_loss: 0.7173 - val_root_mean_squared_error: 0.3601
Epoch 42/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6499 - root_mean_squared_error: 0.3136 - val_loss: 0.7159 - val_root_mean_squared_error: 0.3591
Epoch 43/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6501 - root_mean_squared_error: 0.3136 - val_loss: 0.7176 - val_root_mean_squared_error: 0.3602
Epoch 44/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6485 - root_mean_squared_error: 0.3126 - val_loss: 0.7175 - val_root_mean_squared_error: 0.3600
Epoch 45/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6505 - root_mean_squared_error: 0.3139 - val_loss: 0.7172 - val_root_mean_squared_error: 0.3599
Epoch 46/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6500 - root_mean_squared_error: 0.3136 - val_loss: 0.7170 - val_root_mean_squared_error: 0.3597
Epoch 47/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6506 - root_mean_squared_error: 0.3141 - val_loss: 0.7166 - val_root_mean_squared_error: 0.3595
Epoch 48/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6516 - root_mean_squared_error: 0.3148 - val_loss: 0.7166 - val_root_mean_squared_error: 0.3595
Epoch 49/100
1000/1000 [==============================] - 4s 4ms/step - loss: 0.6517 - root_mean_squared_error: 0.3149 - val_loss: 0.7189 - val_root_mean_squared_error: 0.3610
Epoch 50/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6469 - root_mean_squared_error: 0.3115 - val_loss: 0.7181 - val_root_mean_squared_error: 0.3605
Epoch 51/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6478 - root_mean_squared_error: 0.3119 - val_loss: 0.7197 - val_root_mean_squared_error: 0.3615
Epoch 52/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6515 - root_mean_squared_error: 0.3146 - val_loss: 0.7186 - val_root_mean_squared_error: 0.3608
Epoch 53/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6514 - root_mean_squared_error: 0.3145 - val_loss: 0.7180 - val_root_mean_squared_error: 0.3605
Epoch 54/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6507 - root_mean_squared_error: 0.3142 - val_loss: 0.7194 - val_root_mean_squared_error: 0.3613
Epoch 55/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6493 - root_mean_squared_error: 0.3130 - val_loss: 0.7203 - val_root_mean_squared_error: 0.3619
Epoch 56/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6526 - root_mean_squared_error: 0.3154 - val_loss: 0.7194 - val_root_mean_squared_error: 0.3613
Epoch 57/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6469 - root_mean_squared_error: 0.3113 - val_loss: 0.7206 - val_root_mean_squared_error: 0.3620
Epoch 58/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6482 - root_mean_squared_error: 0.3122 - val_loss: 0.7207 - val_root_mean_squared_error: 0.3620
Epoch 59/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6502 - root_mean_squared_error: 0.3136 - val_loss: 0.7214 - val_root_mean_squared_error: 0.3624
Epoch 60/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6502 - root_mean_squared_error: 0.3137 - val_loss: 0.7211 - val_root_mean_squared_error: 0.3622
Epoch 61/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6511 - root_mean_squared_error: 0.3144 - val_loss: 0.7213 - val_root_mean_squared_error: 0.3624
Epoch 62/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6499 - root_mean_squared_error: 0.3135 - val_loss: 0.7206 - val_root_mean_squared_error: 0.3620
Epoch 63/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6490 - root_mean_squared_error: 0.3129 - val_loss: 0.7203 - val_root_mean_squared_error: 0.3619
Epoch 64/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6505 - root_mean_squared_error: 0.3138 - val_loss: 0.7219 - val_root_mean_squared_error: 0.3627
Epoch 65/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6499 - root_mean_squared_error: 0.3134 - val_loss: 0.7233 - val_root_mean_squared_error: 0.3636
Epoch 66/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6496 - root_mean_squared_error: 0.3132 - val_loss: 0.7230 - val_root_mean_squared_error: 0.3635
Epoch 67/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6503 - root_mean_squared_error: 0.3136 - val_loss: 0.7227 - val_root_mean_squared_error: 0.3632
Epoch 68/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6493 - root_mean_squared_error: 0.3132 - val_loss: 0.7233 - val_root_mean_squared_error: 0.3636
Epoch 69/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6508 - root_mean_squared_error: 0.3142 - val_loss: 0.7225 - val_root_mean_squared_error: 0.3631
Epoch 70/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6482 - root_mean_squared_error: 0.3122 - val_loss: 0.7232 - val_root_mean_squared_error: 0.3636
Epoch 71/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6481 - root_mean_squared_error: 0.3121 - val_loss: 0.7235 - val_root_mean_squared_error: 0.3638
Epoch 72/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6494 - root_mean_squared_error: 0.3131 - val_loss: 0.7227 - val_root_mean_squared_error: 0.3633
Epoch 73/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6500 - root_mean_squared_error: 0.3137 - val_loss: 0.7219 - val_root_mean_squared_error: 0.3629
Epoch 74/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6492 - root_mean_squared_error: 0.3129 - val_loss: 0.7238 - val_root_mean_squared_error: 0.3640
Epoch 75/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6485 - root_mean_squared_error: 0.3123 - val_loss: 0.7232 - val_root_mean_squared_error: 0.3636
Epoch 76/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6499 - root_mean_squared_error: 0.3136 - val_loss: 0.7218 - val_root_mean_squared_error: 0.3628
Epoch 77/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6504 - root_mean_squared_error: 0.3138 - val_loss: 0.7215 - val_root_mean_squared_error: 0.3626
Epoch 78/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6482 - root_mean_squared_error: 0.3122 - val_loss: 0.7205 - val_root_mean_squared_error: 0.3620
Epoch 79/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6498 - root_mean_squared_error: 0.3135 - val_loss: 0.7205 - val_root_mean_squared_error: 0.3620
Epoch 80/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6500 - root_mean_squared_error: 0.3134 - val_loss: 0.7198 - val_root_mean_squared_error: 0.3617
Epoch 81/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6496 - root_mean_squared_error: 0.3133 - val_loss: 0.7185 - val_root_mean_squared_error: 0.3608
Epoch 82/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6472 - root_mean_squared_error: 0.3115 - val_loss: 0.7212 - val_root_mean_squared_error: 0.3625
Epoch 83/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6491 - root_mean_squared_error: 0.3128 - val_loss: 0.7227 - val_root_mean_squared_error: 0.3633
Epoch 84/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6496 - root_mean_squared_error: 0.3132 - val_loss: 0.7220 - val_root_mean_squared_error: 0.3630
Epoch 85/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6494 - root_mean_squared_error: 0.3131 - val_loss: 0.7232 - val_root_mean_squared_error: 0.3638
Epoch 86/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6510 - root_mean_squared_error: 0.3144 - val_loss: 0.7212 - val_root_mean_squared_error: 0.3625
Epoch 87/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6487 - root_mean_squared_error: 0.3128 - val_loss: 0.7232 - val_root_mean_squared_error: 0.3638
Epoch 88/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6493 - root_mean_squared_error: 0.3130 - val_loss: 0.7244 - val_root_mean_squared_error: 0.3645
Epoch 89/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6481 - root_mean_squared_error: 0.3123 - val_loss: 0.7246 - val_root_mean_squared_error: 0.3647
Epoch 90/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6501 - root_mean_squared_error: 0.3136 - val_loss: 0.7229 - val_root_mean_squared_error: 0.3636
Epoch 91/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6486 - root_mean_squared_error: 0.3125 - val_loss: 0.7222 - val_root_mean_squared_error: 0.3631
Epoch 92/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6487 - root_mean_squared_error: 0.3127 - val_loss: 0.7215 - val_root_mean_squared_error: 0.3626
Epoch 93/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6480 - root_mean_squared_error: 0.3123 - val_loss: 0.7217 - val_root_mean_squared_error: 0.3627
Epoch 94/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6502 - root_mean_squared_error: 0.3138 - val_loss: 0.7225 - val_root_mean_squared_error: 0.3632
Epoch 95/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6481 - root_mean_squared_error: 0.3122 - val_loss: 0.7219 - val_root_mean_squared_error: 0.3628
Epoch 96/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6491 - root_mean_squared_error: 0.3128 - val_loss: 0.7222 - val_root_mean_squared_error: 0.3629
Epoch 97/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6478 - root_mean_squared_error: 0.3121 - val_loss: 0.7229 - val_root_mean_squared_error: 0.3634
Epoch 98/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6499 - root_mean_squared_error: 0.3137 - val_loss: 0.7224 - val_root_mean_squared_error: 0.3629
Epoch 99/100
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6479 - root_mean_squared_error: 0.3121 - val_loss: 0.7234 - val_root_mean_squared_error: 0.3635
Epoch 100/100
1000/1000 [==============================] - 3s 3ms/step - loss: 0.6495 - root_mean_squared_error: 0.3132 - val_loss: 0.7243 - val_root_mean_squared_error: 0.3641

In [30]:
resto_df = tourism_with_id
df = tourism_rating


user_id = df.User_Id.sample(1).iloc[0]
resto_visited_by_user = df[df.User_Id == user_id]

In [31]:
resto_not_visited = resto_df[~resto_df['Place_Id'].isin(resto_visited_by_user.Place_Id.values)]['Place_Id']
resto_not_visited = list(
    set(resto_not_visited)
    .intersection(set(resto_to_resto_encoded.keys()))
)

resto_not_visited = [[resto_to_resto_encoded.get(x)] for x in resto_not_visited]
user_encoder = user_to_user_encoded.get(user_id)
user_resto_array = np.hstack(
    ([[user_encoder]] * len(resto_not_visited), resto_not_visited)
)

In [32]:
ratings = model.predict(user_resto_array).flatten()

13/13 [==============================] - 0s 1ms/step

In [33]:
top_ratings_indices = ratings.argsort()[-10:][::-1]
recommended_resto_ids = [
    resto_encoded_to_resto.get(resto_not_visited[x][0]) for x in top_ratings_indices
]

In [34]:
print('Showing recommendations for users: {}'.format(user_id))
print('===' * 9)
print('Resto with high ratings from user')
print('----' * 8)

top_resto_user = (
    resto_visited_by_user.sort_values(
        by = 'Place_Ratings',
        ascending=False
    )
    .head(5)
    .Place_Id.values
)

resto_df_rows = resto_df[resto_df['Place_Id'].isin(top_resto_user)]
for row in resto_df_rows.itertuples():
    print(row.Place_Name)

print('----' * 8)
print('Top 10 resto recommendation')
print('----' * 8)

recommended_resto = resto_df[resto_df['Place_Id'].isin(recommended_resto_ids)]
for row in recommended_resto.itertuples():
    print(row.Place_Name)

Showing recommendations for users: 262
===========================
Resto with high ratings from user
--------------------------------
Ocean Ecopark
Pulau Bidadari
Bukit Panguk Kediwung
Kampung Batu Malakasari
Curug Tilu Leuwi Opat
--------------------------------
Top 10 resto recommendation
--------------------------------
Museum Gunung Merapi
Goa Pindul
Jogja Bay Pirates Adventure Waterpark
Pantai Wediombo
Desa Wisata Pulesari
GPIB Immanuel Semarang (Gereja Blenduk)
Taman Srigunting
Water Blaster Bukit Candi Golf
Wisata Lereng Kelir
Kampoeng Kopi Banaran

In [35]:
recommend_by_content_based_filtering('Pantai Watu Kodok')

[['Pantai Kukup', 0.5659440531411729],
 ['Pantai Timang', 0.5185433503874808],
 ['Pantai Drini', 0.5034916444153296],
 ['Pantai Ngandong', 0.48939744234953786],
 ['Pantai Sundak', 0.4855410205632306],
 ['Pantai Ngrawe (Mesra)', 0.4655150705971857],
 ['Pantai Sadranan', 0.44906283441167205],
 ['Pantai Jungwok', 0.42546650148837023],
 ['Pantai Cipta', 0.4101023347137378]]